<div class="relative px-6 pt-14 lg:px-8 bg-transparent">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
            <h1 class="text-balance text-4xl font-bold tracking-tight text-white sm:text-6xl">
                Aplicación de conversión de números romanos
            </h1>
            <p class="mt-6 text-lg leading-8 text-slate-300">
                Creado por <a class="text-green-400" href="https://github.com/rodrigoremen">Rodrigo Dorantes 🦆</a>
            </p>
        </div>
    </div>
</div>
<ngx-sonner-toaster position="top-center" richColors />
<app-roman></app-roman>